body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  grid-column: span 2;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  margin:  5%;
  margin-top: 2rem;
  color: #FEF2BF;
}

.container {
  display: grid;
  margin: 0px auto auto auto auto;
  padding: 0px 20% 0px 20%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

.btn {
  display: grid;
  height: 15rem;
  width: 15rem;
  border: 1rem solid black;
  border-radius: 20%; 

  margin: auto auto auto auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
